---
- name: Compile util list
  hosts: sdk
  become: true
  tasks:
      - name: ...
        include_tasks: /etc/ansible/task/compiler/util/adminer/download.yml

- name: Download adminer
  hosts: server
  become: true
  tasks:
      - name: Include compiled task list
        include_tasks: '{{ file }}'
        with_items: '{{ hostvars["sdk"]["files"] }}'
        loop_control:
            loop_var: file
