version: '3.4'

services:
  mock_discovery:
    environment:
      SERVICE_8443_ID: '${COMPOSE_PROJECT_NAME}_mock_discovery_https'
      SERVICE_8443_NAME: '${COMPOSE_PROJECT_NAME}_mock_discovery_https'
      SERVICE_8443_TAGS: 'proxy.enable=true,proxy.tags=external,proxy.frontend.entryPoints=https,proxy.frontend.rule=Host:${MOCK_DISCOVERY_HOST}'
      SERVICE_8080_ID: '${COMPOSE_PROJECT_NAME}_mock_discovery_http'
      SERVICE_8080_NAME: '${COMPOSE_PROJECT_NAME}_mock_discovery_http'
      SERVICE_8080_TAGS: 'proxy.enable=true,proxy.tags=external,proxy.frontend.entryPoints=http,proxy.frontend.rule=Host:${MOCK_DISCOVERY_HOST}'
