---
- block:
    - name: Run tasks health check
      shell:
        cmd: 'docker-compose exec -T api wget -qO- http://{{ _host }}'
        chdir: /srv/tasks
      register: _result
      changed_when: false
    - name: Display tasks health check result
      debug:
        msg: '{{ "Healthy" if (_result.stdout|from_json).healthy else "Not Healthy" }}'
  tags: [tasks]
