/.idea

/app/documentation
/app/guide
/app/proxy
/app/assets
/app/authentication
/app/camunda
/app/cases
/app/cms
/app/core
/app/discovery
/app/formio
/app/identities
/app/interactions
/app/logs
/app/records
/app/services
/app/tasks
/app/topics
/app/admin
/app/monitor
/app/portal
/app/ui
/app/VERSION

/resource/jwt/*
!/resource/jwt/dev/.gitkeep
!/resource/jwt/lab/.gitkeep
!/resource/jwt/prod/.gitkeep
!/resource/jwt/stag/.gitkeep
!/resource/jwt/test/ci/.gitkeep
!/resource/jwt/test/release/.gitkeep
/resource/fixtures/*
!/resource/fixtures/.gitkeep

/platform/ansible/**/*.retry
/platform/docker/*
!/platform/docker/.gitkeep
/platform/git/*
!/platform/git/.gitkeep
/platform/ssh/*
!/platform/ssh/dev/.gitkeep
!/platform/ssh/lab/.gitkeep
!/platform/ssh/prod/.gitkeep
!/platform/ssh/stag/.gitkeep
!/platform/ssh/test/ci/.gitkeep
!/platform/ssh/test/release/.gitkeep
