/config/ansible/**/*.retry
/config/git/*
!/config/git/.gitkeep
/config/jwt/*
!/config/jwt/dev/.gitkeep
!/config/jwt/lab/.gitkeep
!/config/jwt/prod/.gitkeep
!/config/jwt/stag/.gitkeep
!/config/jwt/test/.gitkeep
/config/ssh/*
!/config/ssh/dev/.gitkeep
!/config/ssh/prod/.gitkeep
!/config/ssh/stag/.gitkeep
!/config/ssh/test/.gitkeep
/resource/documentation
/resource/guide
/service/api
/service/assets
/service/authentication
/service/camunda
/service/cases
/service/cms
/service/core
/service/discovery
/service/identities
/service/interactions
/service/logs
/service/records
/service/services
/service/topics
/spa/admin
/spa/monitor
/spa/portal
/spa/ui
