version: '3'

services:
  sdk:
    build: '.'
    privileged: true
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - './config/ansible:/etc/ansible'
      - './resource:/srv/resource'
      - './service:/srv/service'
      - './spa:/srv/spa'
    entrypoint: /bin/sh
    stdin_open: true
    tty: true
    container_name: ds_sdk
