version: '3'

services:
    sdk:
        container_name: sdk
        build: .
        privileged: true
        entrypoint: /bin/sh
        stdin_open: true
        tty: true
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./app:/srv
            - ./resource:/root/resource
            - ./sdk/ansible:/etc/ansible
