version: '3.1'

services:
    platform:
        container_name: platform
        build: .
        privileged: true
        entrypoint: /bin/sh
        stdin_open: true
        tty: true
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./platform/ansible:/etc/ansible
            - ./platform/docker:/root/docker
            - ./platform/git:/root/git
            - ./platform/ssh:/root/ssh
            - ./resource:/root/resource
            - ./app:/srv
            - ./VERSION:/root/VERSION
