all:
  hosts:
    app:
      ansible_host: app
      ansible_port: 22
      ansible_ssh_private_key_file: /root/.ssh/prod/key
      ansible_ssh_user: root
      ansible_ssh_pass: root
    platform:
      ansible_connection: local
  vars:
    env: prod
