---
- name: Obtain proxy container ip
  hosts: server
  become: true
  tasks:
      - name: Obtain proxy container ip
        shell: docker inspect --format '{{ '{{' }} .NetworkSettings.Networks.proxy_default.IPAddress {{ '}}' }}' proxy_proxy_1
        register: ip

      - name: Create proxy host variable
        set_fact:
            proxy_host: '{{ ip.stdout }}'

- name: Configure containers environment on server
  hosts: server
  become: true
  roles:
      - { role: app/assets/container/env/configure, when: assets is not none }
      - { role: app/authentication/container/env/configure, when: authentication is not none }
      - { role: app/camunda/container/env/configure, when: camunda is not none }
      - { role: app/cases/container/env/configure, when: cases is not none }
      - { role: app/cms/container/env/configure, when: cms is not none }
      - { role: app/formio/container/env/configure, when: formio is not none }
      - { role: app/identities/container/env/configure, when: identities is not none }
      - { role: app/records/container/env/configure, when: records is not none }
      - { role: app/services/container/env/configure, when: services is not none }
      - { role: app/tasks/container/env/configure, when: tasks is not none }
