---
- name: Obtain proxy container ip
  hosts: server
  become: true
  tasks:
      - name: Obtain proxy container ip
        shell: docker inspect --format '{{ '{{' }} .NetworkSettings.Networks.proxy_default.IPAddress {{ '}}' }}' proxy_proxy_1
        register: ip

      - name: Create environment variables
        set_fact:
            assets_proxy_host: '{{ ip.stdout }}'
            assets_directory: '{{ directory }}/app/assets'
            authentication_proxy_host: '{{ ip.stdout }}'
            authentication_directory: '{{ directory }}/app/authentication'
            camunda_proxy_host: '{{ ip.stdout }}'
            camunda_directory: '{{ directory }}/app/camunda'
            cases_proxy_host: '{{ ip.stdout }}'
            cases_directory: '{{ directory }}/app/cases'
            cms_proxy_host: '{{ ip.stdout }}'
            cms_directory: '{{ directory }}/app/cms'
            formio_proxy_host: '{{ ip.stdout }}'
            formio_directory: '{{ directory }}/app/formio'
            identities_proxy_host: '{{ ip.stdout }}'
            identities_directory: '{{ directory }}/app/identities'
            records_proxy_host: '{{ ip.stdout }}'
            records_directory: '{{ directory }}/app/records'
            services_proxy_host: '{{ ip.stdout }}'
            services_directory: '{{ directory }}/app/services'
            tasks_proxy_host: '{{ ip.stdout }}'
            tasks_directory: '{{ directory }}/app/tasks'

- name: Configure containers environment on server
  hosts: server
  become: true
  roles:
      - { role: app/assets/container/env/configure, when: assets is not none }
      - { role: app/authentication/container/env/configure, when: authentication is not none }
      - { role: app/camunda/container/env/configure, when: camunda is not none }
      - { role: app/cases/container/env/configure, when: cases is not none }
      - { role: app/cms/container/env/configure, when: cms is not none }
      - { role: app/formio/container/env/configure, when: formio is not none }
      - { role: app/identities/container/env/configure, when: identities is not none }
      - { role: app/records/container/env/configure, when: records is not none }
      - { role: app/services/container/env/configure, when: services is not none }
      - { role: app/tasks/container/env/configure, when: tasks is not none }
