---
- name: Define environment variables
  hosts: server
  become: true
  tasks:
      - name: Obtain proxy container ip
        shell: docker inspect --format '{{ '{{' }} .NetworkSettings.Networks.proxy_default.IPAddress {{ '}}' }}' proxy_proxy_1
        register: ip
        changed_when: false

      - name: Define discovery environment variable
        set_fact:
            discovery: {}

      - name: Append each enabled services to the discovery environment variable
        set_fact:
            discovery: '{{ discovery|combine({item: {"host": vars[item + "_host"]}}) }}'
        with_items:
            - assets
            - authentication
            - camunda
            - cases
            - cms
            - discovery
            - formio
            - identities
            - interactions
            - logs
            - records
            - services
            - tasks
            - topics
            - admin
            - monitor
            - portal

      - name: Define environment variables for roles
        set_fact:
            assets_proxy_host: '{{ ip.stdout }}'
            assets_virtual_host: '{{ assets_host }}'
            assets_directory: '{{ directory }}/assets'
            authentication_proxy_host: '{{ ip.stdout }}'
            authentication_virtual_host: '{{ authentication_host }}'
            authentication_directory: '{{ directory }}/authentication'
            camunda_proxy_host: '{{ ip.stdout }}'
            camunda_virtual_host: '{{ camunda_host }}'
            camunda_directory: '{{ directory }}/camunda'
            camunda_timezone: '{{ timezone }}'
            cases_proxy_host: '{{ ip.stdout }}'
            cases_virtual_host: '{{ cases_host }}'
            cases_directory: '{{ directory }}/cases'
            cms_proxy_host: '{{ ip.stdout }}'
            cms_virtual_host: '{{ cms_host }}'
            cms_directory: '{{ directory }}/cms'
            formio_proxy_host: '{{ ip.stdout }}'
            formio_virtual_host: '{{ formio_host }}'
            formio_directory: '{{ directory }}/formio'
            identities_proxy_host: '{{ ip.stdout }}'
            identities_virtual_host: '{{ identities_host }}'
            identities_directory: '{{ directory }}/identities'
            records_proxy_host: '{{ ip.stdout }}'
            records_virtual_host: '{{ records_host }}'
            records_directory: '{{ directory }}/records'
            services_proxy_host: '{{ ip.stdout }}'
            services_virtual_host: '{{ services_host }}'
            services_directory: '{{ directory }}/services'
            tasks_proxy_host: '{{ ip.stdout }}'
            tasks_virtual_host: '{{ tasks_host }}'
            tasks_directory: '{{ directory }}/tasks'
            admin_proxy_host: '{{ ip.stdout }}'
            admin_virtual_host: '{{ admin_host }}'
            admin_directory: '{{ directory }}/admin'
            admin_discovery: '{{ discovery }}'
            portal_proxy_host: '{{ ip.stdout }}'
            portal_virtual_host: '{{ portal_host }}'
            portal_directory: '{{ directory }}/portal'
            portal_discovery: '{{ discovery }}'
        changed_when: false

- name: Configure containers environment on server
  hosts: server
  become: true
  roles:
      - { role: app/assets/container/env/configure, when: assets is not none }
      - { role: app/authentication/container/env/configure, when: authentication is not none }
      - { role: app/camunda/container/env/configure, when: camunda is not none }
      - { role: app/cases/container/env/configure, when: cases is not none }
      - { role: app/cms/container/env/configure, when: cms is not none }
      - { role: app/formio/container/env/configure, when: formio is not none }
      - { role: app/identities/container/env/configure, when: identities is not none }
      - { role: app/records/container/env/configure, when: records is not none }
      - { role: app/services/container/env/configure, when: services is not none }
      - { role: app/tasks/container/env/configure, when: tasks is not none }
      - { role: app/admin/container/env/configure, when: admin is not none }
      - { role: app/portal/container/env/configure, when: portal is not none }
