---
- block:
    - name: Set topics config
      shell:
        cmd: 'docker-compose exec -T php php bin/console ds:config:set {{ item.key }} {{ item.value }}'
        chdir: /srv/topics
      with_dict: '{{ _config }}'
  tags: [topics]
