---
- block:
    - name: Up assets container
      include_role:
        name: app/assets/container/up
      vars:
        _env: '{{ env }}'
        _compose_project_name: '{{ namespace }}assets'
        _network: '{{ namespace }}proxy_default'
        _directory: '{{ directory }}/assets'
        _api_host: '{{ app.assets.api.host }}'
        _database_host: '{{ app.assets.database.host }}'
        _database_port: '{{ app.assets.database.port }}'
        _database_name: '{{ app.assets.database.name }}'
        _database_username: '{{ app.assets.database.username }}'
        _database_password: '{{ app.assets.database.password }}'
        _database_ui_host: '{{ app.assets.database.ui.host }}'
        _cache_ui_host: '{{ app.assets.cache.ui.host }}'
  when: app.assets.enabled
  tags: [assets]
