---
- block:
      - name: Define proxy container variables
        set_fact:
            proxy_compose_project_name: '{{ project }}'
            proxy_port: '{{ proxy.port }}'
      - name: Up proxy container
        include_role:
            name: app/proxy/container/up
  when: proxy.enabled
  tags: [proxy]
