---
- block:
    - name: Run cms health check
      include_role:
        name: app/cms/health/run
    - name: Validate cms health check result
      debug:
        msg: '{{ "Healthy" if (_result.stdout|from_json).healthy else "Not Healthy" }}'
      failed_when: (_result.stdout|from_json).healthy != true
  tags: [cms]
