---
- name: Set services config
  shell:
      cmd: 'docker-compose exec services_php php bin/console ds:config:set {{ item.key }} {{ item.value }} | cat'
      chdir: /srv/services
  with_dict: '{{ config }}'
