---
- block:
    - name: Configure authentication encryption settings
      include_role:
        name: app/authentication/encryption/configure
      vars:
        _secret: '{{ encryption.secret }}'
  when: app.authentication.enabled
  tags: [authentication]
