---
- block:
    - name: Run forms health check
      shell:
        cmd: 'docker-compose exec -T api wget -qO- http://{{ _host }}'
        chdir: /srv/forms
      register: _result
      changed_when: false
    - name: Display forms health check result
      debug:
        msg: '{{ "Healthy" if (_result.stdout|from_json).healthy else "Not Healthy" }}'
  tags: [forms]
