---
tenants:
  enabled: false
  repository: https://github.com/DigitalState/Tenants.git
  version: develop
  api:
    host: api.tenants.dev.ds
  database:
    host: tenants_database
    name: tenants
    user: tenants
    password: tenants
    ui:
      host: ui.database.tenants.dev.ds
  mock:
    discovery:
      host: discovery.mock.tenants.dev.ds
  docker:
    - docker-compose.yml
    - docker-compose.dev.yml
    - /root/docker/tenants/docker-compose.yml
    - /root/docker/tenants/docker-compose.dev.yml
    - /root/docker/api.dev.yml
    - /root/docker/php.dev.yml
