---
- block:
    - name: Download records jwt private key
      copy:
        src: '{{ _private_key }}'
        dest: /srv/records/var/jwt/key
        mode: 0600
    - name: Download records jwt public key
      copy:
        src: '{{ _public_key }}'
        dest: /srv/records/var/jwt/key.pub
        mode: 0600
  tags: [records]
