---
- block:
    - name: Set cms config
      shell:
        cmd: 'docker-compose exec -T php php bin/console ds:config:set {{ item.key }} {{ item.value }}'
        chdir: /srv/cms
      with_dict: '{{ _config }}'
  tags: [cms]
