---
- block:
    - name: Configure identities encryption settings
      include_role:
        name: app/identities/encryption/configure
      vars:
        _secret: '{{ encryption.secret }}'
  when: app.identities.enabled
  tags: [identities]
