---
- name: Compile discovery list
  hosts: sdk
  become: true
  tasks:
      - name: ...
        include_tasks: /etc/ansible/task/compiler/discovery/configure.yml
  tags: [always]

- name: Configure discovery settings
  hosts: server
  become: true
  tasks:
      - name: Include compiled list
        include_tasks: '{{ file }}'
        with_items: '{{ hostvars["sdk"]["files"] }}'
        loop_control:
            loop_var: file

- name: Configure discovery settings
  hosts: server
  become: true
  tasks:
      - name: Configure discovery domain mapping
        include_tasks: /etc/ansible/task/app/discovery/map/configure.yml
