---
- block:
    - name: Run tenants health check
      include_role:
        name: app/tenants/health/run
    - name: Validate tenants health check result
      debug:
        msg: '{{ "Healthy" if (_result.stdout|from_json).healthy else "Not Healthy" }}'
      failed_when: (_result.stdout|from_json).healthy != true
  tags: [tenants]
