---
- name: Compile container list
  hosts: sdk
  become: true
  tasks:
      - name: ...
        include_tasks: /etc/ansible/task/compiler/container/down.yml

- name: Down containers
  hosts: server
  become: true
  tasks:
      - name: Include compiled task list
        include_tasks: '{{ file }}'
        with_items: '{{ hostvars["sdk"]["files"] }}'
        loop_control:
            loop_var: file
