---
- name: Up containers on server
  hosts: server
  become: true
  roles:
      - { role: app/assets/container/up, when: assets is not none }
      - { role: app/authentication/container/up, when: authentication is not none }
      - { role: app/camunda/container/up, when: camunda is not none }
      - { role: app/cases/container/up, when: cases is not none }
      - { role: app/cms/container/up, when: cms is not none }
      - { role: app/formio/container/up, when: formio is not none }
      - { role: app/identities/container/up, when: identities is not none }
      - { role: app/records/container/up, when: records is not none }
      - { role: app/services/container/up, when: services is not none }
      - { role: app/tasks/container/up, when: tasks is not none }
