---
- block:
    - name: Download services jwt private key
      copy:
        src: '{{ _private_key }}'
        dest: /srv/services/api/config/jwt/key
        mode: 0666
    - name: Download services jwt public key
      copy:
        src: '{{ _public_key }}'
        dest: /srv/services/api/config/jwt/key.pub
        mode: 0666
  tags: [services]
