---
identities:
  enabled: true
  repository: https://github.com/DigitalState/Identities.git
  version: 0.15.0
  api:
    host: api.identities.prod.ds
  database:
    host: identities_database
    name: identities
    user: identities
    password: ~
    ui:
      host: ui.database.identities.prod.ds
  docker:
    - docker-compose.yml
    - docker-compose.prod.yml
    - /root/docker/config/api/extra_hosts.prod.yml
    - /root/docker/config/php/extra_hosts.prod.yml
    - /root/docker/identities.yml
