---
- block:
    - name: Download cases jwt private key
      copy:
        src: '{{ _private_key }}'
        dest: /srv/cases/var/jwt/key
        mode: 0600
    - name: Download cases jwt public key
      copy:
        src: '{{ _public_key }}'
        dest: /srv/cases/var/jwt/key.pub
        mode: 0600
  tags: [cases]
