---
- block:
    - name: Download cases jwt private key
      copy:
        src: '{{ _private_key }}'
        dest: /srv/cases/api/config/jwt/key
        mode: 0666
    - name: Download cases jwt public key
      copy:
        src: '{{ _public_key }}'
        dest: /srv/cases/api/config/jwt/key.pub
        mode: 0666
  tags: [cases]
